body {
  margin: 0;
  background: linear-gradient(to right, #40798C, #CFE0C3);
  width: 100%;
}

#root{
  width: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto);
}

.span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1 / -1;
  background-color: rgb(58, 58, 58, 0.4);
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 2rem;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.output div {
  margin: 10px;
  line-height: 45px;
  overflow-wrap: break-word;
}

.previous-operand{
  font-size: 1.3rem;
}